/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	#content {
		min-height: 80px;
	}

	#footer .col-1,#footer .col-2 {
		display: block;
		width: 100%;
	}
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	#content {
		min-height: 120px;
	}

	#footer .col-1,#footer .col-2 {
		display: block;
		width: 100%;
	}
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	#content {
		min-height: 160px;
	}

	#footer .col-1,#footer .col-2 {
		display: inline-block;
		width: 49%;
	}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	#content {
		min-height: 240px;
	}

	#footer .col-1,#footer .col-2 {
		display: inline-block;
		width: 49%;
	}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	#content {
		min-height: 360px;
	}
}

body {
	background-image: url('../assets/images/background.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding: 30px;
}

/* Header */
#header {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
}

#header .logo {
	position: relative;
	margin: 0;
  	padding: 0;
	width: 150px;
	height: 150px;
}
#header .logo:hover {
	-webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

#header .navMenu {
	position: relative;
	float: right;
	overflow: hidden;
	list-style-type: none;
  	margin: 20px 0 0 0;
  	padding: 0;
}
.navMenu li {
	display: inline;
}
.navMenu a {
	display: block;
	float: left;
	font-size: large;
	color:#0099ff;
	text-align: center;
	margin: 5px 10px 5px 5px;
	text-decoration: none;
}
.navMenu a:hover {
	font-weight: bold;
	text-decoration: underline;
}

/* Content */
#content {
	position: relative;
	display: block;
	width: 100%;
}

/* Footer */
#footer {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
}
#footer .col-1,#footer .col-2 {
	height: auto;
	text-align: center;
	font-size: large;
	color: #00e6e6;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }