@media screen and (min-width: 1280px) and (min-height: 600px) {
	body {
		background-color: #708090;
	}
	#container {
		position: static;
		width: 1200px;
		height: auto;
		margin: auto;
		background-color: white;
	}
	#header {
		position: relative;
		display: block;
		width: 1200px;
		height: 40px;
		background-color: #006699;
	}
	#content {
		position: relative;
		display: block;
		width: 1200px;
		height: auto;
		background-color: white;
	}
	#left_panel {
		position: relative;
		display: inline-block;
		float: left;
		width: 220px;
		height: auto;
	}
	#center_panel {
		position: relative;
		display: inline-block;
		width: 650px;
		height: auto;
	}
	#right_panel {
		position: relative;
		display: inline-block;
		width: 330px;
		height: auto;
		float: right;
		margin-left: -4px;
	}

	/* HEADER */
	.header_menu {
		display: inline-block;
		float: right;
		list-style-type: none;
		text-align: center;
		font-family: sans-serif;
	}
	ul li {
		display: inline-block;
		float: right;
		margin-top: 5px;
		margin-right: 20px;
		color: white;
		font-size: 16px;
		cursor: pointer;
		text-decoration: none;
	}
	ul li:hover {
		font-weight: bold;
		border-bottom: 1px solid white;
	}
	ul li ul {
		position: absolute;
		display: none;
		list-style-type: none;
		font-family: sans-serif;
		font-weight: normal;
		background-color: #006699;
		margin-top: 1px;
		z-index: 1;
	}
	ul li ul li {
		display: block;
		color: white;
		float: left;
		cursor: pointer;
		text-decoration: none;
		font-size: 16px;
		clear: both;
	}
	#header_searchBar {
		position: relative;
		display: inline-block;
		width: 650px;
		margin-left: 220px;
	}
	.header_searchBar {
		border: 2px solid gray;
	}
	.header_searchBar input {
		border: none;
		border-radius: 0px;
	}
	.header_searchBar .input-group-addon {
		border: none;
		border-radius: 0px;
		border-left: 1px solid gray;
		cursor: pointer;
	}
	/* END */

	/* LEFT PANEL */
	#left_panel p {
		font-size: 18px;
		font-weight: bold;
		font-family: sans-serif;
		margin-left: 30px;
		margin-top: 10px;
	}
	.logo {
		display: block;
		top: 5px;
		width: 200px;
		height: 200px;
	}
	.left_panel_menu {
		margin-left: 10px;
	}
	.left_panel_menu li {
		display: block;
		width: auto;
		clear: both;
		float: left;
		text-decoration: none;
		color: black;
		font-size: 16px;
		cursor: pointer;
	}
	.left_panel_menu li:hover {
		font-weight: bold;
	}
	/* END */

	/* CENTER PANEL */
	#player_window {
		position: relative;
		margin-top: 1px;
		display: block;
		width: 650px;
		height: 400px;
		background-color: black;
	}
	#videoPlayer {
		width: 100%;
		height: 100%;
	}
	#watch_window {
		position: relative;
		display: block;
		width: 650px;
		height: auto;
	}
	#watch_window button {
		border: 2px solid gray;
		border-radius: 0px;
		width: 100px;
	}
	.video_list {
		position: relative;
		display: block;
		width: 100%;
		vertical-align: text-bottom;
	}
	#videoList-cell1 {
		position: relative;
		height: 35px;
	}
	#videoList-cell1 .video_category {
		display: inline-block;
		font-family: sans-serif;
		font-size: 18px;
		font-weight: bold;
	}
	#videoList-cell1 .video_bookmark {
		display: inline-block;
		width: 35px;
		height: 35px;
		cursor: pointer;
	}
	#videoList-cell2 {
		position: relative;
		cursor: pointer;
		height: 174px;
		width: 150px;
		margin-top: 10px;
	}
	#videoList-cell2 .video_title {
		position: absolute;
		bottom: 0px;
		font-family: sans-serif;
		font-size: 12px;
		height: 30px;
		width: 100%;
		background-color: #dadada;
		color: black;
		line-height: 1.2;
		text-overflow: ellipsis;
		white-space: pre-line;
		overflow: hidden;
	}
	#videoList-cell2 .video_image {
		position: absolute;
		width: 100%;
		height: 130px;
		border: 2px solid #006699;
	}
	#videoList-cell2 .video_bookmark {
		position: absolute;
		bottom: 46px;
		right: 2px;
		width: 25px;
		height: 25px;
		border: 2px solid yellow;
		opacity: 1;
	}
	/* END */

	/*RIGHT PANEL */
	.playlist_container {
		position: relative;
		display: block;
		border: 2px solid gray;
		border-radius: 0px;
		width: 320px;
		margin-right: 1px;
		margin-top: 1px;
		float: right;
	}

	/*END*/
}